body {
    margin: 0px;
    background-color: #e0e0e0;
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: row;
}
header {
    display: flex;
    flex-direction: row;
}
header #logo {
    flex: 1;
}
header #login {
    flex: 1;
    text-align: right;
}
footer {
    display: flex;
    flex-direction: row;
}
footer #contact {
    flex: 1;
}
footer #copy {
    text-align: center;
    font-size: 10px;
    flex: 1;
}
footer #media {
    text-align: right;
    flex: 1;
}
.name {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    border-radius: 25%;
}
article #content img:hover {
    opacity: 0.3;
}
article #content img:hover .name {
    opacity: 1;
}
article {
    display: flex;
    flex-direction: column;
    width: 100%;
}
article #city {
    width: 100%;
    height: 380px;
    background: transparent url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg") no-repeat center;
    background-size: cover;
}
.logo {
    width: 60px;
    height: 60px;
}
#logo {
    float: left;
    height: 100%;
}
.login {
    text-decoration: none;
    line-height: 60px;
}
#login {
    float: right;
    height: 100%;
}

article img {
    width: 150px;
    height: 150px;
    margin: 4% 4% 4% 4%;
    justify-content: space-evenly;
    border-radius: 25%; 
}

footer img {
    height: 20px;
    width: 22px;
}
header {
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    top: 0;
}
#header {
    height: 60px;
}
footer {
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px;
}

#city {
    background-color: #f1f1f1;
    color: transparent;
    text-align: center;
    vertical-align: middle;
}

#city input {
    border: 1px solid transparent;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 16px;
    width: 20%;
    border-radius: 12px;
    outline: 0;
}

footer #media {
    float: right;
    vertical-align: middle;
    height: 100%;
}
footer div#contact {
    float: left;
    line-height: 60px;
}
#contact a{
    vertical-align: middle;
    text-decoration: none;
}
#content{
    height: 350px;
    text-align: center;
}

footer #media a {
line-height: 60px;
}
div#copy {
    line-height: 60px;
}

.city-cards {
    display: flex;
    justify-content: space-evenly;
    padding: 4% 0%;
}
.city-image{
    height: 150px;
    width: 150px;
    border-radius: 25%;
    box-shadow: 10px 10px 10px grey;
}
.city-card-and-name-inner {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    border-radius: 25%;
}
.city-card-and-name-inner:hover .overlay {
    opacity: 1;
}
.overlay span {
    position:relative;
    top:45%;
}