body {
    margin: 0px;
    background-color: #e0e0e0;
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: row;
}
header {
    display: flex;
    flex-direction: row;
}
header #logo {
    flex: 1;
}
header #login {
    flex: 1;
    text-align: right;
}
footer {
    display: flex;
    flex-direction: row;
}
footer #contact {
    flex: 1;
}
footer #copy {
    text-align: center;
    font-size: 10px;
    flex: 1;
}
footer #media {
    text-align: right;
    flex: 1;
}
header {
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    top: 0;
}
#header {
    height: 60px;
}

header img {
    height: 60px;
    width: 60px;
}
.logo {
    width: 60px;
    height: 60px;
}
#logo {
    float: left;
    height: 100%;
}
.login {
    text-decoration: none;
    line-height: 60px;
}
#login {
    float: right;
    height: 100%;
}
article {
    width: 100%;
    margin-bottom: 100px;
}
article a {
    text-decoration: none;
}

#content {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(132,136,139);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#content img{
    height: 500px;
    width: 500px;
}

footer img {
    height: 20px;
    width: 22px;
}

footer {
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px;
}
#customer {
    margin: 2% 2% 2% 2%;
}
#detail {
    margin: 2% 2% 2% 2%;
    width: 1240px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1% 2% 1% 2%;
}
footer p {
    text-align: center;
    font-size: 10px;
    vertical-align: bottom;
}
footer #media {
    float: right;
    vertical-align: middle;
    height: 100%;
}
footer div#contact {
    float: left;
    line-height: 60px;
}
#contact a{
    vertical-align: middle;
    text-decoration: none;
}
footer #media a {
    line-height: 60px;
 }
div#copy {
    line-height: 60px;
}
#payment-container {
    margin-top:7%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
#hotel-details {
    background-color: rgb(132, 136, 139);
    width: 60%;
    height: 20%;
    margin: 2% auto;
    display: flex;
    align-items: center;
}
#customer-payment-details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
    border: black 1px solid;
    border-radius: 5px;
    margin: 0% 2%;
    background-color: rosybrown;
}
.hotel-image {
    max-height: 300px;
    max-width: 270px;
}
#customer-payment-details p label:nth-child(1) {
    font-weight: bold;
    font-family: cursive;
}
.hotel-name-rating {
    margin-left: 25px;
}